{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <form action="{{ url_for('business_admin_view.view_property', property_id=property.id) }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="row row-cols-1 row-cols-md-2 gy-4 gx-3 mt-2">
      <!-- Property Images -->
      <div class="col">
        <div class="card h-100 bg-light">
          <div
            id="carouselExampleIndicators"
            class="carousel carousel-dark slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              {% for image in propertyImages %}
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="{{ loop.index0 }}"
                class="{{ 'active' if loop.index0 == 0 else 'not-active' }}"
                aria-current="true"
                aria-label="Slide {{ loop.index }}"
              ></button>
              {% endfor %}
            </div>
            <div class="carousel-inner">
              {% for image in propertyImages %}
              <div
                class="{{ 'carousel-item active' if loop.index0 == 0 else 'carousel-item' }}"
              >
                <img
                  src="{{ image }}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-footer">
            <center>
              <h4>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropEditPropertyImage">
                  Edit Property Images
                </button>
              </h4>
            </center>
          </div>
        </div>
      </div>

      <!-- Property Info -->
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <center><h5 class="card-header">Edit Property Info</h5></center>
              <div class="card-body">
                <div class="mb-3 row">
                  <label for="inputPropertyName" class="col-md-3 col-form-label"
                    >Property Name:
                  </label>
                  <div class="col-md-9">
                    <input
                      type="text"
                      value="{{ property.property_name }}"
                      class="form-control"
                      id="inputPropertyName"
                      name="editPropertyName"
                    />
                  </div>
                </div>
                <!-- <h5 class="card-title">{{ property.property_name }}</h5> -->
                <h6 class="card-subtitle mb-2 text-muted">
                  Property Description
                </h6>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="5"
                  name="editPropertyDescription"
                >
                  {{ property.property_description }}
                </textarea>
                <!-- <p class="card-text">{{ property.property_description }}</p> -->
                <!-- <a href="#" class="card-link">Contact Us</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card text-center">
              <div class="card-header">Featured Content</div>
              <div class="card-body">
                <h5 class="card-title">Relevant Ad</h5>
                <p class="card-text">Ads can be placed here</p>
                <a href="#" class="btn btn-primary">Mabati Rolling Mills</a>
              </div>
              <!-- <div class="card-footer text-muted">www.mrm.com</div> -->
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>

      <!-- Property Details -->
      <div class="col">
        <div class="card h-100">
          <center><h5 class="card-header">Edit Property Details</h5></center>
          <div class="card-body">
            <!-- <h5 class="card-title">Details</h5> -->
            <ul>
              <div class="mb-3 row">
                <label for="inputPropertyType" class="col-md-3 col-form-label"
                  >Property Type:
                </label>
                <div class="col-md-9">
                  <select
                    class="form-select"
                    id="inputPropertyType"
                    aria-label="Default select example"
                    name="editPropertyType"
                  >
                    <option selected>{{ property.property_type }}</option>
                    <option value="residential">Residential</option>
                    <option value="commercial">Commercial</option>
                    <option value="land">Land</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPriceRange" class="col-md-3 col-form-label"
                  >Price Range:
                </label>
                <div class="col-md-9">
                  <input
                    type="text"
                    value="{{ property.property_price }}"
                    class="form-control"
                    id="inputPriceRange"
                    name="editPriceRange"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label
                  for="inputPropertyLocation"
                  class="col-md-3 col-form-label"
                  >Location:
                </label>
                <div class="col-md-9">
                  <input
                    type="text"
                    value="{{ property.property_location }}"
                    class="form-control"
                    id="inputPropertyLocation"
                    name="editPropertyLocation"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPropertyMisc" class="col-md-3 col-form-label"
                  >Other Info(Comma separated):
                </label>
                <div class="col-md-9">
                  <input
                    type="text"
                    value="{{ property.property_features }}"
                    class="form-control"
                    id="inputPropertyMisc"
                    name="editPropertyMisc"
                  />
                </div>
              </div>

              {# Dynamic Features: for feature in features.split('|') #}
              <!-- <li><b>Conference Rooms:</b> Available</li> -->
            </ul>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
          <!-- <div class="card-footer text-muted">
          Contact Us for your specific needs
        </div> -->
        </div>
      </div>

      <!-- Contact Details -->
      <div class="col">
        <div class="card h-100 text-center">
          <h5 class="card-header">Edit Contact Details</h5>
          <div class="card-body">
            <div class="mb-3 row">
              <label for="inputContactName" class="col-md-3 col-form-label"
                >Your Name:
              </label>
              <div class="col-md-9">
                <input
                  type="text"
                  value="{{ owner.first_name }} {{ owner.last_name }}"
                  class="form-control"
                  id="inputContactName"
                  name="editContactName"
                />
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputPhoneNumber" class="col-md-3 col-form-label"
                >Phone Number:
              </label>
              <div class="col-md-9">
                <input
                  type="text"
                  value="{{ owner.user_phone }}"
                  class="form-control"
                  id="inputPhoneNumber"
                  name="editPhoneNumber"
                />
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputBusinessName" class="col-md-3 col-form-label"
                >Business Info:
              </label>
              <div class="col-md-9">
                <input
                  type="text"
                  value="{{ owner.businessName }}"
                  class="form-control"
                  id="inputBusinessName"
                  name="editBusinessName"
                />
              </div>
            </div>
          </div>
          <!-- Dynamically changed? -->
          <!-- <div class="card-footer text-muted">
            {{ owner.first_name }} {{ owner.last_name }}
          </div> -->
        </div>
      </div>
    </div>

    <!-- Edit Property Images Modal -->
    <div class="modal fade" id="staticBackdropEditPropertyImage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropEditPropertyImageLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropEditPropertyImageLabel">Upload Property Images</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="formFile" class="form-label">Main Image (Select One Image)*</label>
              <input class="form-control" type="file" id="formFile" name="editPropertyProfilePic">
            </div>
            <div class="mb-3">
              <label for="formFileMultiple1" class="form-label">Secondary Image 1 (e.g. A Room, Swimming Pool,...)*</label>
              <input class="form-control" type="file" id="formFileMultiple1" name="editPropertySecondaryImage1">
            </div>
            <div class="mb-3">
              <label for="formFileMultiple2" class="form-label">Secondary Image 2 (Optional)</label>
              <input class="form-control" type="file" id="formFileMultiple2" name="editPropertySecondaryImage2">
            </div>
            <div class="mb-3">
              <label for="formFileMultiple3" class="form-label">Secondary Image 3 (Optional)</label>
              <input class="form-control" type="file" id="formFileMultiple3" name="editPropertySecondaryImage3">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="d-grid mt-3 mb-5">
      <button type="submit" class="btn btn-lg btn-success">Save Changes</button>
    </div>
  </form>
</div>




{% endblock content %}
