{% extends "userManagement/base2.html" %} {% block content %}

<!-- <center> -->
{# Flashed Messages #} 
{% with messages = get_flashed_messages() %} 
{% if messages %} {% for message in messages %}
  <div class="alert alert-info alert-dismissible fade show mt-1" role="alert">
    <strong>{{ message }}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true"></span>
    </button>
  </div>
  {% endfor %} {% endif %} {% endwith %}
  
  <div class="container">
    <div class="container">
      <div class="info">
        <h1>Sign into your Account</h1>
        <span><a href="#">&copy; Nyupal - All Rights Reserved</a></span>
      </div>
    </div>
    <div class="form">
      <div class="thumbnail">
        <img src="{{ url_for('auth_login_view.static', filename='userManagement/users/nicon.png') }}"
        width="150" />
      </div>
      <form
        action="{{ url_for('auth_login_view.login') }}"
        method="POST"
        class="login-form"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input
          type="text"
          placeholder="name@example.com"
          name="loginEmail"
          required
        />
        <input
          type="password"
          placeholder="Password"
          name="loginPassword"
          required
        />
        <button type="submit">Login</button>
        <p class="message">
          Forgot Password?
          <a href="{{ url_for('auth_login_view.reset_request') }}">Click Here.</a>
        </p>
        <p class="message">
          Don't have an Account?
          <a href="{{ url_for('auth_login_view.register') }}">Click Here.</a>
        </p>
      </form>
    </div>
  </div>

{% endblock content %}
