{% extends "userManagement/base2.html" %} {% block content %}



<!-- <center> -->
{# Flashed Messages #} 
{% with messages = get_flashed_messages() %} 
{% if messages %} 
{% for message in messages %}
<div class="alert alert-info alert-dismissible fade show mt-1" role="alert">
  <strong>{{ message }}</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true"></span>
  </button>
</div>
{% endfor %} {% endif %} {% endwith %}

<div class="container">
  <div class="container">
    <div class="info">
      <h1>Sign Up</h1>
      <span><a href="#">&copy; Nyupal - All Rights Reserved</a></span>
    </div>
  </div>

  <div class="form">
    <div class="thumbnail">
      <img src="{{ url_for('auth_login_view.static', filename='userManagement/users/default.png') }}" />
    </div>
    <form
      action="{{ url_for('auth_login_view.register') }}"
      method="POST"
      class="login-form"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <!-- <div class="row"> -->
        <!-- <div class="col"> -->
        <input
          type="text"
          placeholder="First name"
          name="registerFirst"
          required
        />
      <!-- </div> -->
      <!-- <div class="col"> -->
        <input
          type="text"
          placeholder="Last name"
          name="registerLast"
          required
        />
        <!-- </div> -->
      <!-- </div> -->
      <input
        type="email"
        placeholder="name@example.com"
        name="registerEmail"
        required
      />
      <input
        type="password"
        placeholder="Password"
        name="registerPassword"
        required
      />
      <input
        type="password"
        placeholder="Confirm Password"
        name="registerConfirmPassword"
        required
      />

      <button type="submit">Create Account</button>
      <p class="message">
        Already have an Account?
        <a href="{{ url_for('auth_login_view.login') }}">Click Here.</a>
      </p>
      <hr>
      <p class="message">
        Want to List Property?
        <a href="{{ url_for('auth_login_view.register_business') }}">Click Here.</a>
      </p>
    </form>
  </div>
</div>


{% endblock content %}
