{% extends "userManagement/base2.html" %} {% block content %}

<!-- <center> -->
{# Flashed Messages #}
{% with messages = get_flashed_messages() %} 
{% if messages %} 
{% for message in messages %}
<div class="alert alert-info alert-dismissible fade show mt-1" role="alert">
  <strong>{{ message }}</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true"></span>
  </button>
</div>
{% endfor %} {% endif %} {% endwith %}

<div class="container">
  <div class="container">
    <div class="info">
      <h1>Reset your Password</h1>
      <span><a href="#">&copy; Nyupal - All Rights Reserved</a></span>
    </div>
  </div>
  <div class="form">
    <div class="thumbnail">
      <img src="{{ url_for('auth_login_view.static', filename='userManagement/users/default.png') }}" />
    </div>
    <form action="" method="POST" class="login-form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <input
        type="password"
        placeholder="New Password"
        name="resetPassword"
        required
      />
      <input
        type="password"
        placeholder="Confirm New Password"
        name="resetConfirmPassword"
        required
      />
      <button type="submit">Confirm New Password</button>
    </form>
  </div>
</div>











{% endblock content %}
