{% extends "base.html" %} {% block content %}

<div class="container-fluid">



  <div class="row row-cols-1 row-cols-md-2 gy-4 gx-3 mt-2">
    <div class="col">
      <div class="card h-100 bg-light">
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            {% for image in propertyImages %}
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" class="{{ 'active' if loop.index0 == 0 else 'not-active' }}" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
            {% endfor %}
            <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button> -->
          </div>
          {# for img in property.images .split('|') #}
          <div class="carousel-inner">
            {% for image in propertyImages %}
            <div class="{{ 'carousel-item active' if loop.index0 == 0 else 'carousel-item' }}">
              <img src="{{ url_for('static', filename=image) }}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-footer">
          <h4>Check Out Our Rooms</h4>
        </div>
      </div>
    </div>

    <div class="col">
      <!-- <div class="container-fluid"> -->
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ property.property_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Property Description</h6>
                <p class="card-text">{{ property.property_description }}</p>
                <a href="#" class="card-link">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card text-center">
              <div class="card-header">
                Featured Content
              </div>
              <div class="card-body">
                <h5 class="card-title">Relevant Ad</h5>
                <p class="card-text">Ads can be placed here</p>
                <a href="#" class="btn btn-primary">Mabati Rolling Mills</a>
              </div>
              <div class="card-footer text-muted">
                www.mrm.com
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
      
    </div>

    <div class="col">
      <div class="card h-100">
        <h5 class="card-header">{{ property.property_name }}</h5>
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <ul>
            <li><b>Type:</b> {{ property.property_type }}</li>            
            <li><b>Price Range:</b> {{ property.property_price }}</li>
            <li><b>Location:</b> {{ property.property_location }}</li>
            {# Dynamic Features: for feature in features.split('|') #}
            <!-- <li><b>Conference Rooms:</b> Available</li> -->
          </ul>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <!-- <div class="card-footer text-muted">
          Contact Us for your specific needs
        </div> -->
      </div>
    </div>
  
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          Contact Property Owner
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ owner.first_name }} {{ owner.last_name }}</h5>
          <p class="card-text">{{ property.additionalContactInfo }}</p>
          <a href="#" class="btn btn-primary">Contact Us</a>
        </div>
        <div class="card-footer text-muted">
          {{ owner.first_name }} {{ owner.last_name }}
        </div>
      </div>
    </div>

  </div>
  

  <div class="card my-4 text-center border-dark">
    <div class="card-header bg-white">
      <a href="#viewMore" class="btn btn-outline-primary">Similar Property</a>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
  {% for property in similarProperty %}
    <div class="col">
      <div class="card h-100">
        {# property.property_images #}
        <img src="{{ url_for('static', filename=similarPropertyImages[loop.index0]) }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">{{ property.property_name }}</h4>
          <p class="card-text"><b>Type:</b> {{ property.property_type }}</p>
          <p class="card-text"><b>Price Range:</b> {{ property.property_price }}</p>
          <p class="card-text"><b>Location:</b> {{ property.property_location }}</p>
        </div>
        <div class="card-footer">
          <div class="d-grid gap-2 mx-auto">
                <a type="button" href="{{ url_for('more_info_view.more_info',property_id=property.id) }}" class="btn btn-primary">More Info</a>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="card my-4 text-center border-dark">
    <div class="card-header bg-white">
      <a href="#viewMore" class="btn btn-outline-primary">View More Similar Property</a>
    </div>
  </div>



</div>
{% endblock content %}
