{% extends "base.html" %}


{% block content %}



  <div class="container-fluid">

    <header>
    <!-- Featured Content -->
    <div class="card my-3 text-center">
        <div class="card-header">
          Featured Content
        </div>
        <div class="card-body">
          <h5 class="card-title">Relevant Ad</h5>
          <p class="card-text">Ads can be placed here</p>
          <a href="#" class="btn btn-primary">Mabati Rolling Mills</a>
        </div>
        <div class="card-footer text-muted">
          www.mrm.com
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-2 mb-3 g-4">
        <div class="col">
          <div class="card">
            <img src="{{ url_for('static', filename='buildings/residential/buildings/d.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Featured: Kifaru Court</h5>
              <p class="card-text">This is the place to live!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{{ url_for('static', filename='buildings/commercial/buildings/a.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Featured: Savannah Offices</h5>
              <p class="card-text">These exquisite and spacious offices are located in Kakamega.</p>
            </div>
          </div>
        </div>
      </div>

    </header>


      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='buildings/commercial/buildings/b.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Amazon Plaza</h4>
              <p class="card-text"><b>Type:</b> Commercial</p>
              <p class="card-text"><b>Price Range:</b> 60-100K</p>
              <p class="card-text"><b>Location:</b> Kilimani, Nairobi</p>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 mx-auto">
                    <a type="button" href="{{ url_for('more_info_view.more_info') }}" class="btn btn-primary">More Info</a>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='buildings/commercial/buildings/c.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Annex Offices</h4>
              <p class="card-text">Type: Commercial</p>
              <p class="card-text">Price Range: 90-150K</p>
              <p class="card-text">Location: Karen, Nairobi</p>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 mx-auto">
                    <a type="button" href="{{ url_for('more_info_view.more_info') }}" class="btn btn-primary">More Info</a>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='buildings/commercial/buildings/d.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">The Green House</h4>
              <p class="card-text">Type: Commercial</p>
              <p class="card-text">Price Range: 50-100K</p>
              <p class="card-text">Location: Lang'ata, Nairobi</p>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 mx-auto">
                    <a type="button" href="{{ url_for('more_info_view.more_info') }}" class="btn btn-primary">More Info</a>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static', filename='buildings/residential/buildings/a.png') }}" class="card-img-top" alt="...">
              <div class="card-body">
              <h4 class="card-title">Black Rose Apartments</h4>
              <p class="card-text">Type: Residential</p>
              <p class="card-text">Price Range: 30-60K</p>
              <p class="card-text">Location: Kilimani, Nairobi</p>
            </div>
              <div class="card-footer">
                <div class="d-grid gap-2 mx-auto">
                    <a type="button" href="{{ url_for('more_info_view.more_info') }}" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static', filename='buildings/residential/buildings/b.png') }}" class="card-img-top" alt="...">
              <div class="card-body">
              <h4 class="card-title">Amani Houses</h4>
              <p class="card-text">Type: Residential</p>
              <p class="card-text">Price Range: 20-50K</p>
              <p class="card-text">Location: Milimani, Nakuru</p>
            </div>
              <div class="card-footer">
                <div class="d-grid gap-2 mx-auto">
                    <a type="button" href="{{ url_for('more_info_view.more_info') }}" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static', filename='buildings/residential/buildings/c.png') }}" class="card-img-top" alt="...">
              <div class="card-body">
              <h4 class="card-title">Oxford Springs</h4>
              <p class="card-text">Type: Residential</p>
              <p class="card-text">Price Range: 60-100K</p>
              <p class="card-text">Location: Karen, Nairobi</p>
            </div>
              <div class="card-footer">
                <div class="d-grid gap-2 mx-auto">
                    <a type="button" href="{{ url_for('more_info_view.more_info') }}" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
          </div>
      </div>




  </div>



{% endblock content %}