{% extends "base.html" %}


{% block content %}



  <div class="container-fluid">

    <header>
    <!-- Featured Content -->
    <div class="card my-3 text-center">
        <div class="card-header">
          Featured Content
        </div>
        <div class="card-body">
          <h5 class="card-title">Relevant Ad</h5>
          <p class="card-text">Ads can be placed here</p>
          <a href="#" class="btn btn-primary">Mabati Rolling Mills</a>
        </div>
        <div class="card-footer text-muted">
          www.mrm.com
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-2 mb-3 g-4">
        <div class="col">
          <div class="card">
            <img src="{{ url_for('static', filename='property/residential/d.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Featured: Kifaru Court</h5>
              <p class="card-text">This is the place to live!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{{ url_for('static', filename='property/commercial/a.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Featured: Savannah Offices</h5>
              <p class="card-text">These exquisite and spacious offices are located in Kakamega.</p>
            </div>
          </div>
        </div>
      </div>

    </header>
    
    
    <!-- Tried working with horizontal cards and failed terribly  -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for property in propertys %}
        <div class="col">
            <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ url_for('static', filename=propertyImages[loop.index0]) }}"   class="card-img-top"alt="...">
                    <!-- <img src=""  alt="..."> -->
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ property.property_name }}</h4>
                        <p class="card-text"><b>Type:</b> {{ property.property_type }}</p>
                        <p class="card-text"><b>Price Range:</b> {{ property.property_price }}</p>
                        <p class="card-text"><b>Location:</b> {{ property.property_location }}</p>
                    </div>
                    
                  </div>
                  <div class="card-footer">
                    <div class="d-grid gap-2 mx-auto">
                        <a type="button" href="{{ url_for('more_info_view.more_info',property_id=property.id) }}" class="btn btn-primary">More Info</a>
                    </div>
                </div>
                </div>
              </div>
          
        </div>
        {% endfor %}

      </div>




  </div>



{% endblock content %}