{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="content-section mt-3">
    <div class="media">
      <img
        class="rounded-circle account-img"
        src="{{ url_for('auth_login_view.static', filename='userManagement/users/'+current_user.user_pic) }}"
      />
      <div class="media-body">
        <h2 class="account-heading">
          {{ current_user.first_name }} {{ current_user.last_name }}
        </h2>
        <p class="text-secondary">{{ current_user.user_email }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
