{% extends "base.html" %} {% block content %}

<div class="container">


  <div class="card mt-3 mb-3" style="width: 30rem;">
    <div class="card-header">
      <h2>Reset Your Password</h2>
    </div>
    <div class="card-body">
      <form action="" method="POST">
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            name="resetPassword"
          />
          <label for="floatingPassword">New Password</label>
        </div>
        <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
              name="resetConfirmPassword"
            />
            <label for="floatingPassword">Confirm New Password</label>
          </div>
        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1"
          name="registerUpdates" />
          <label class="form-check-label" for="exampleCheck1"
            >Receive Updates</label
          >
        </div> -->
        <button type="submit" class="btn btn-lg btn-primary">Save New Password</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
