{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <!-- Featured Content -->
  <header>
    <div class="card my-3 text-center">
      <div class="card-header">Featured Content</div>
      <div class="card-body">
        <h5 class="card-title">Relevant Ad</h5>
        <p class="card-text">Ads can be placed here</p>
        <a href="#" class="btn btn-primary">Mabati Rolling Mills</a>
      </div>
      <div class="card-footer text-muted">www.mrm.com</div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 mb-3 g-4">
      <div class="col">
        <div class="card">
          <img
            src="{{ url_for('static', filename='property/residential/d.png') }}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Featured: Kifaru Court</h5>
            <p class="card-text">This is the place to live!</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="{{ url_for('static', filename='property/commercial/a.png') }}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Featured: Savannah Offices</h5>
            <p class="card-text">
              These exquisite and spacious offices are located in Kakamega.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- List of property -->
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for property in propertys.items %}
    <div class="col">
      <div class="card h-100">
        {# property.property_images #}
        <div class="my-container">
          <img
            src="{{ url_for('static', filename=propertyImages[loop.index0]) }}"
            class="card-img-top"
            alt="Property Image"
          />
          <!-- Star-Rating -->
          <div class="my-rating">
            <fieldset class="rating">
              <input type="radio" onclick="ratingClicked(id);" id="star5_{{ property.id }}" name="rating_{{ property.id }}" value="5" /><label
                class="full"
                for="star5_{{ property.id }}"
                title="Awesome - 5 stars"
              ></label>
              <input
                type="radio" onclick="ratingClicked(id);"
                id="star4half_{{ property.id }}"
                name="rating_{{ property.id }}"
                value="4.5"
              /><label
                class="half"
                for="star4half_{{ property.id }}"
                title="Pretty good - 4.5 stars"
              ></label>
              <input type="radio" onclick="ratingClicked(id);" id="star4_{{ property.id }}" name="rating_{{ property.id }}" value="4" /><label
                class="full"
                for="star4_{{ property.id }}"
                title="Pretty good - 4 stars"
              ></label>
              <input
                type="radio" onclick="ratingClicked(id);"
                id="star3half_{{ property.id }}"
                name="rating_{{ property.id }}"
                value="3.5"
              /><label
                class="half"
                for="star3half_{{ property.id }}"
                title="3.5 stars"
              ></label>
              <input type="radio" onclick="ratingClicked(id);" id="star3_{{ property.id }}" name="rating_{{ property.id }}" value="3" /><label
                class="full"
                for="star3_{{ property.id }}"
                title="3 stars"
              ></label>
              <input
                type="radio" onclick="ratingClicked(id);"
                id="star2half_{{ property.id }}"
                name="rating_{{ property.id }}"
                value="2.5"
              /><label
                class="half"
                for="star2half_{{ property.id }}"
                title="2.5 stars"
              ></label>
              <input type="radio" onclick="ratingClicked(id);" id="star2_{{ property.id }}" name="rating_{{ property.id }}" value="2" /><label
                class="full"
                for="star2_{{ property.id }}"
                title="2 stars"
              ></label>
              <input
                type="radio" onclick="ratingClicked(id);"
                id="star1half_{{ property.id }}"
                name="rating_{{ property.id }}"
                value="1.5"
              /><label
                class="half"
                for="star1half_{{ property.id }}"
                title="1.5 stars"
              ></label>
              <input type="radio" onclick="ratingClicked(id);" id="star1_{{ property.id }}" name="rating_{{ property.id }}" value="1" /><label
                class="full"
                for="star1_{{ property.id }}"
                title="Terrible - 1 star"
              ></label>
              <input
                type="radio" onclick="ratingClicked(id);"
                id="starhalf_{{ property.id }}"
                name="rating_{{ property.id }}"
                value="0.5"
              /><label
                class="half"
                for="starhalf_{{ property.id }}"
                title="Terrible - 0.5 stars"
              ></label>
            </fieldset>
          </div>
        </div>
        <div class="card-body">
          {% if property_verified[property.id] %}
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <h4 class="card-title">{{ property.property_name }}</h4>
              <!-- <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                Tooltip on top
              </button> -->
              <i class="fas fa-check-circle text-primary ml-auto"></i>
            </div>
          {% else %}
            <h4 class="card-title">{{ property.property_name }}</h4>
          {% endif %}

          <p class="card-text"><b>Type:</b> {{ property.property_type }}</p>
          <p class="card-text">
            <b>Price Range:</b> {{ property.property_price }}
          </p>
          <p class="card-text">
            <b>Location:</b> {{ property.property_location }}
          </p>
        </div>
        <div class="card-footer">
          <div class="d-grid gap-2 mx-auto">
            <a
              type="button"
              href="{{ url_for('more_info_view.more_info',property_id=property.id) }}"
              class="btn btn-primary"
              >More Info</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<!-- Pagination Object -->
<nav aria-label="Page navigation" class="my-4">
  <ul class="pagination justify-content-center"> 
{% for page in propertys.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=2) %}
    
    {% if page %}
    {% if page.has_previous %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    
    <li class="page-item"><a class="page-link" href="{{ url_for('main_view.index', page_num=page) }}">{{ page }}</a></li>

    {% if page.has_next %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}

    {% else %}
      ...
    {% endif %}

    {% endfor %}

  </ul>
</nav>




<script>
  function ratingClicked(id){
    selected = document.getElementById(id);
    // console.log(id); // Property ID -> string -> tokenize
    // console.log(selected.value);

    // Package the data in a nicely wrapped JS Object
    ratingObject = {
      "string_id":id,
      "rating":selected.value,
    }

    // Using JavaScript's Fetch API for Async Requests
    fetch(`/rating-clicked`, {
      method: "POST",
      credentials: "include",
      body: JSON.stringify(ratingObject),
      cache:"no-cache",
      headers: new Headers({
        "content-type": "application/json"
      })
    })
    // What to do with the server's response. <After data has been processed by the server>
    .then(function (response){
      if (response.status !== 200){
        console.log(`Request Failed with code: ${response.status}`)
        return;
      }
    })


  }
</script>

{% endblock content %}
